//Colors
$color-white: rgb(255,255,255);
$color-black: rgb(0,0,0);
$color-blue-950: rgb(13,25,44);
$color-blue-900: rgb(21, 38, 63);
$color-blue-800: rgb(46, 64, 90);
$color-blue-500: rgb(139, 172, 217);
$color-cyan-400: rgb(0, 255, 248);

//Spacing
$spacing-0: 0;
$spacing-100: .5rem;
$spacing-200: 1rem;
$spacing-300: 1.5rem;

//Font
$font-family: "Outfit", sans-serif;