@use "assets/reset";
@use "assets/variables" as *;

body {
    inline-size: 100vw;
    block-size: 100vh;
    background-color: $color-blue-950;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin: .75rem;
    background-color: $color-blue-900;
    padding: $spacing-300;
    border-radius: .9375rem;
    font-family: $font-family;

    .hero-container {
        position: relative;
        border-radius: .5rem;
        overflow: hidden;
    }

    .hero-container::after {
        content: "";
        position: absolute;
        background: url("../images/icon-view.svg") no-repeat center rgba($color-cyan-400, .5);
        top: 0;
        left: 0;
        inline-size: 100%;
        block-size: 100%;
        opacity: 0;
        transition: .5s;
    }

    .hero-container:hover::after {
        opacity: 1;
    }

    .title {
        color: $color-white;
        font-size: 1.5rem;
        line-height: 1.45;
        font-weight: 600;
        text-decoration: none;
        transition: .5s;
    }

    .title:hover {
        color: $color-cyan-400;
    }

    .desc {
        color: $color-blue-500;
        font-size: 1.125rem;
        font-weight: 300;
    }

    .price-time-container {
        display: flex;
        justify-content: space-between;
    }

    .price {
        display: flex;
        align-items: center;
    }

    .price-text {
        color: $color-cyan-400;
        font-size: 1rem;
        font-weight: 600;
        text-wrap: nowrap;
    }

    .time {
        display: flex;
        align-items: center;
    }

    .time-text {
        color: $color-blue-500;
        font-size: 1rem;
    }

    .line {
        color: $color-blue-800;
        height: 1px;   
    }

    .footer {
        display: flex;
        align-items: center;
    }

    .avatar-container {
        border: solid 1px $color-white;
        border-radius: 50%;
    }

    .author {
        color: $color-blue-500;
        font-size: 1rem;
    }

    .name {
        color: $color-white;
        text-decoration: none;
        transition: .5s;
    }

    .name:hover {
        color: $color-cyan-400;
    }
}

.u-flex-col {
    display: flex;
    flex-direction: column;
}

.u-gap-1 {
    gap: $spacing-100;
}

.u-gap-2 {
    gap: $spacing-200;
}

.u-gap-3 {
    gap: $spacing-300;
}

